input{
    width:75%;
    height: 40px;
    
}

.warning {
    color: #D8000C;
    background-color: #FFBABA;
    margin: 10px 0px;
    padding: 4px 4px 4px 20px;
    vertical-align: middle;
    width: 75%;
}